input.channel{
    width: 150px;
    margin-left: 20px;
    text-indent: 5px;
}

.Channel-title {
    font-size: 1.5em;
    text-align: center;
}

.Channel-header input {
    color: black;
    font-size: large;
    position: relative;
    left: 50px;
}