.header-bar {
  background-color: black;
  color : aqua;
  font-size : 32px;
  width: 100%;
  z-index: 1;
  flex: none;
  display: flex;
  padding: 1.0rem;
  //justify-content: flex-start;
}

.header-item {
  background-color: black;
  font-size: 24px;
  color: aqua;
  width: 100%;
  line-height: 35px;
  padding: 0 15px;
  cursor: default;

  &:hover {
    border-bottom: 1px solid rgb(124, 115, 179);
  }
}


/*.header-bar{
  background-Color: 'black';
  color: 'aqua';
  font-Size: 24; // 기본 단위 px
  //background-color: white;
  //width: 100%;
  display: flex;
  //height: 35px;
  justify-content: flex-start;
  padding: '1rem'; // 다른 단위 사용 시 문자열로 설정
}

.header-item {
  font-size: 12px;
  color: rgb(110, 110, 110);
  line-height: 35px;
  padding: 0 15px;
  cursor: default;

  &:hover {
    border-bottom: 1px solid rgb(124, 115, 179);
  }
}*/